@import "assets/variables.scss";
@import "assets/mixin.scss";
.pageWrapper {
  height: 100vh;
  display: flex;
}
.mainWrapper {
  height: 100%;
  flex: 1;
}
.pageContent {
  flex: 1;
  overflow-y: hidden;
  height: calc(100vh - 60px);
  background-color: $smoke-10-color;
  @include customScrollBar(0, 0, 0);
}
