@import "./variables.scss";
/*
 * @mixin mq
 * @description: media screen query min or max of width
 */

@function inexplicit($list, $keyable) {
  @if (map-has-key($list, $keyable)) {
    @return map-get($list, $keyable);
  }
  @return $keyable;
}

@mixin mq($breakpoint, $media: "min") {
  @if $media == "min" {
    $getBr: inexplicit($breakpointsUp, $breakpoint);
    @media screen and (min-width: $getBr) {
      @content;
    }
  }
  @if $media == "max" {
    $getBr: inexplicit($breakpointsDown, $breakpoint);
    @media screen and (max-width: $getBr) {
      @content;
    }
  }
}

@mixin aspectp($width: 16, $height: 9) {
  padding-top: calc((#{$height} / #{$width}) * 100%);
}

@mixin aspectc($width: 100%, $height: 100%) {
  position: absolute;
  top: 0;
  left: 0;
  width: $width;
  height: $height;
}
