@import "assets/variables.scss";
@import "assets/mixin.scss";
.wrapProduct,
.wrapVariants,
.wrapPurchaseOrders {
  .wrapContent {
    position: relative;
    @include mq(md) {
      top: -200px;
    }

    @include mq(md, "max") {
      top: -225px;
    }
    z-index: 95;
    .productVersionName {
      p {
        margin-bottom: 0;
      }
    }
  }

  .wrapAction {
    cursor: pointer;
  }
}
